* * *

### Таблиця зроблена за допомогою шаблонізатора MARKDOWN

| year   | rank  | company              | revenue   | profit   |
|:-----  | :----:|    :----:            |  :----:   |    ----: |
|1955    |229    |Norton                | 135.0     | N.A      |
|1955    |291    |Sclitz Brewing        | 100.0     | N.A      |
|1955    |295    |Pacfiic Vegetable Oil | 97.9      | N.A      |
|1955    |297    |Liebmann              | 96.0      | N.A      |
|1955    |353    |Minneapolis           | 77.4      | N.A      |

***

## Таблиця зроблена за допомогою HTML розмітки

<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">year</th>
      <th scope="col">rank</th>
      <th scope="col">company</th>
      <th scope="col">revenue</th>
      <th scope="col">profit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1955</th>
      <td>229</td>
      <td>Norton</td>
      <td>135.0</td>
      <td>N.A.</td>
    </tr>
    <tr>
      <th>1955</th>
      <td>291</td>
      <td>Sclitz Brewing</td>
      <td>100.0</td>
      <td>N.A.</td>
    </tr>
   <tr>
      <th>1955</th>
      <td>295</td>
      <td>Pacfiic Vegetable Oil</td>
      <td>97.9</td>
      <td>N.A.</td>
    </tr>
      <tr>
    <th>1955</th>
      <td>297</td>
      <td>Liebmann</td>
      <td>96.0</td>
      <td>N.A.</td>
    </tr>
      <tr>
      <th>1955</th>
      <td>353</td>
      <td>Minneapolis</td>
      <td>77.4</td>
      <td>N.A.</td>
    </tr>
  </tbody>
</table>

***