In [89]:
import pandas as pd
import random
import numpy as np

# Створення датасету

In [90]:
data = {
    'Ім\'я та прізвище студента' : ['Андрій Литвиненко', 'Софія Мельник', 'Іван Шевченко', 'Юлія Павленко', 'Андрій Бойко', 'Михайло Лисенко', 'Юлія Коваленко', 'Михайло Ковальчук', 'Олександр Шевченко', 'Катерина Павленко', 'Софія Кравченко', 'Іван Павленко', 'Марія Лисенко', 'Софія Кравченко', 'Максим Мельник'],
    'Cередній бал' : [round(random.uniform(2.0, 5.0),2) for _ in range(15)], 
    "Оцінка за екзамен" : [random.randrange(2,6) for _ in range(15)],
    "Кількість спроб" : [random.randrange(1,3) for _ in range(15)],
    }
data

{"Ім'я та прізвище студента": ['Андрій Литвиненко',
  'Софія Мельник',
  'Іван Шевченко',
  'Юлія Павленко',
  'Андрій Бойко',
  'Михайло Лисенко',
  'Юлія Коваленко',
  'Михайло Ковальчук',
  'Олександр Шевченко',
  'Катерина Павленко',
  'Софія Кравченко',
  'Іван Павленко',
  'Марія Лисенко',
  'Софія Кравченко',
  'Максим Мельник'],
 'Cередній бал': [2.96,
  3.38,
  2.88,
  2.71,
  4.39,
  4.9,
  2.0,
  4.35,
  2.39,
  2.44,
  3.67,
  2.62,
  4.4,
  3.11,
  3.82],
 'Оцінка за екзамен': [3, 3, 5, 2, 3, 3, 5, 4, 3, 2, 2, 5, 5, 5, 3],
 'Кількість спроб': [1, 2, 1, 2, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 2]}

In [91]:
df = pd.DataFrame(data=data)
df

   Ім'я та прізвище студента  Cередній бал  Оцінка за екзамен  Кількість спроб
0          Андрій Литвиненко          2.96                  3                1
1              Софія Мельник          3.38                  3                2
2              Іван Шевченко          2.88                  5                1
3              Юлія Павленко          2.71                  2                2
4               Андрій Бойко          4.39                  3                1
5            Михайло Лисенко          4.90                  3                1
6             Юлія Коваленко          2.00                  5                2
7          Михайло Ковальчук          4.35                  4                1
8         Олександр Шевченко          2.39                  3                1
9          Катерина Павленко          2.44                  2                2
10           Софія Кравченко          3.67                  2                1
11             Іван Павленко          2.62                  5                2
12             Марія Лисенко          4.40                  5                1
13           Софія Кравченко          3.11                  5                1
14            Максим Мельник          3.82                  3                2

___

# Додаємо нову колонку з умовою

In [92]:
df['Допуск'] = np.where((df['Cередній бал'] + df['Оцінка за екзамен'])/2 > 3,"Залік","Не залік")
df

,Ім'я та прізвище студента,Cередній бал,Оцінка за екзамен,Кількість спроб,Допуск
0,Андрій Литвиненко,2.96,3,1,Не залік
1,Софія Мельник,3.38,3,2,Залік
2,Іван Шевченко,2.88,5,1,Залік
3,Юлія Павленко,2.71,2,2,Не залік
4,Андрій Бойко,4.39,3,1,Залік
5,Михайло Лисенко,4.90,3,1,Залік
6,Юлія Коваленко,2.00,5,2,Залік
7,Михайло Ковальчук,4.35,4,1,Залік
8,Олександр Шевченко,2.39,3,1,Не залік
9,Катерина Павленко,2.44,2,2,Не залік
10,Софія Кравченко,3.67,2,1,Не залік
11,Іван Павленко,2.62,5,2,Залік
12,Марія Лисенко,4.40,5,1,Залік
13,Софія Кравченко,3.11,5,1,Залік
14,Максим Мельник,3.82,3,2,Залік

___

#  Статистичні показники

In [93]:
df["Cередній бал"].describe()

count    15.000000
mean      3.334667
std       0.880445
min       2.000000
25%       2.665000
50%       3.110000
75%       4.085000
max       4.900000
Name: Cередній бал, dtype: float64

In [94]:
[df["Cередній бал"].mean(),
df["Cередній бал"].min(),
df["Cередній бал"].max(),
df["Cередній бал"].median()]

[3.3346666666666662, 2.0, 4.9, 3.11]

___

# Кількість студентів , які здали екзамен з першого разу

In [95]:
first_atempt = df[(df['Кількість спроб'] == 1) & (df['Оцінка за екзамен']>2) ]
print(f"Кількість студентів , які здали екзамен з першого разу : {len(first_atempt)}")

Кількість студентів , які здали екзамен з першого разу : 8

___

# Збереження данних у вигляді серії

In [96]:
save_series = df['Ім\'я та прізвище студента']
save_series

0      Андрій Литвиненко
1          Софія Мельник
2          Іван Шевченко
3          Юлія Павленко
4           Андрій Бойко
5        Михайло Лисенко
6         Юлія Коваленко
7      Михайло Ковальчук
8     Олександр Шевченко
9      Катерина Павленко
10       Софія Кравченко
11         Іван Павленко
12         Марія Лисенко
13       Софія Кравченко
14        Максим Мельник
Name: Ім'я та прізвище студента, dtype: object